html {
    height: 100vh;
}
body {
    height: 100%;
}
.wrapper {
    display: flex;
    height: inherit;
}
.row-width {
    max-width: 600px;
    margin: auto;
}
.form-control {
    border-radius: unset;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}
.input-group-text {
    border-radius: unset;
}
.btn {
    border-radius: unset;
}
.form-check-input, checkbox {
    border-radius: unset;
}
.radio-check {
    display: flex;
    margin-bottom: 0.7rem;
}
.invalid-feedback {
    font-size: .7rem;
    font-weight: lighter;
    text-align: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}